service/server/cafedodo
service/server/tmp
service/server/node_modules
service/server/client/*_templ*
service/server/static/js
service/server/static/css/style.css
service/server/ptwhy/node_modules
service/server/ptwhy/out
