**/node_modules
**/out

**/__pycache__

checker/data
service/data
documentation/crc.sage.py
documentation/documentation/target
documentation/iisc-test-ctf-slides/target
documentation/iisc-enowars-slides/target

