<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/xterm.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/solid.css" rel="stylesheet" />
  </head>

  <body class="w-full h-full font-mono">
    <children />
  </body>
</html>
